<a href="https://colab.research.google.com/github/nestormarlier/alura-latam/blob/main/Inmersion_Datos_Aula1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

Shape (Filas, Columnas)

In [4]:
import pandas as pd
inmuebles = pd.read_csv('/content/drive/MyDrive/Alura-Latam/Clase1/inmuebles_bogota.csv')
inmuebles.head()

,Tipo,Descripcion,Habitaciones,Baños,Área,Barrio,UPZ,Valor
0,Apartamento,Apartamento en venta en Zona Noroccidental,3,2,70,Zona Noroccidental,CHAPINERO: Pardo Rubio + Chapinero,$ 360.000.000
1,Casa,Casa en venta en Castilla,4,3,170,Castilla,KENNEDY: Castilla + Bavaria,$ 670.000.000
2,Apartamento,Apartamento en venta en Chico Reservado,3,3,144,Chico Reservado,CHAPINERO: Chicó Lago + El Refugio,$ 1.120.000.000
3,Apartamento,Apartamento en venta en Usaquén,3,2,154,Usaquén,Usaquén,$ 890.000.000
4,Apartamento,Apartamento en venta en Bella Suiza,2,3,128,Bella Suiza,USAQUÉN: Country Club + Santa Bárbara,$ 970.000.000

Shape (Filas, Columnas)

In [5]:
inmuebles.shape

(9520, 8)

In [6]:
inmuebles.columns

Index(['Tipo', 'Descripcion', 'Habitaciones', 'Baños', 'Área', 'Barrio', 'UPZ',
       'Valor'],
      dtype='object')

Modificar el nombre de la columna a través de un diccionario

In [7]:
columnas = {'Baños':'Banos','Área':'Area'}
inmuebles = inmuebles.rename(columns=columnas)

Generar una muestra de 10 registros

In [8]:
inmuebles.sample(10)

,Tipo,Descripcion,Habitaciones,Banos,Area,Barrio,UPZ,Valor
1720,Apartamento,Apartamento en venta en Usaquén,2,2,120,Usaquén,Usaquén,$ 650.000.000
6348,Apartamento,Apartamento en venta en Fontibón,3,1,51,Fontibón,Fontibón,$ 180.000.000
2953,Apartamento,Apartamento en venta en Bosa,3,2,62,Bosa,Bosa Central,$ 150.000.000
2393,Apartamento,Apartamento en venta en Usaquén,2,2,91,Usaquén,Usaquén,$ 1.010.000.000
3566,Apartamento,Apartamento en venta en Chapinero,3,4,162,Chapinero,CHAPINERO: Pardo Rubio + Chapinero,$ 1.190.000.000
6152,Apartamento,Apartamento en venta en Zona Noroccidental,3,2,81,Zona Noroccidental,CHAPINERO: Pardo Rubio + Chapinero,$ 311.000.000
8015,Apartamento,Apartamento en venta en Chico Reservado,4,5,255,Chico Reservado,CHAPINERO: Chicó Lago + El Refugio,$ 1.301.265.000
3618,Apartamento,Apartamento en venta en Portales Del Norte,3,2,70,Portales Del Norte,Britalia,$ 330.000.000
5350,Apartamento,Apartamento en venta en Bosa,3,1,48,Bosa,Bosa Central,$ 129.000.000
2642,Apartamento,Apartamento en venta en Usaquén,2,2,63,Usaquén,Usaquén,$ 390.000.000

Información del dataframe, la columna UPZ es la única que tiene valores en null

In [9]:
inmuebles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9520 entries, 0 to 9519
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Tipo          9520 non-null   object
 1   Descripcion   9520 non-null   object
 2   Habitaciones  9520 non-null   int64
 3   Banos         9520 non-null   int64
 4   Area          9520 non-null   int64
 5   Barrio        9520 non-null   object
 6   UPZ           9478 non-null   object
 7   Valor         9520 non-null   object
dtypes: int64(3), object(5)
memory usage: 595.1+ KB

iloc[número] Muestra el registro 300

In [10]:
inmuebles.iloc[300]

Tipo                                Apartamento
Descripcion     Apartamento en venta en Kennedy
Habitaciones                                  2
Banos                                         1
Area                                         42
Barrio                                  Kennedy
UPZ                             Kennedy Central
Valor                             $ 116.100.000
Name: 300, dtype: object

In [13]:
inmuebles.iloc[300:305]

,Tipo,Descripcion,Habitaciones,Banos,Area,Barrio,UPZ,Valor
300,Apartamento,Apartamento en venta en Kennedy,2,1,42,Kennedy,Kennedy Central,$ 116.100.000
301,Apartamento,Apartamento en venta en Chico Norte,2,2,95,Chico Norte,CHAPINERO: Chicó Lago + El Refugio,$ 980.000.000
302,Apartamento,Apartamento en venta en Kennedy,3,2,54,Kennedy,Kennedy Central,$ 237.000.000
303,Apartamento,Apartamento en venta en Kennedy,3,2,67,Kennedy,Kennedy Central,$ 320.000.000
304,Apartamento,Apartamento en venta en Cedritos,4,4,132,Cedritos,Usaquén,$ 530.000.000

In [15]:
inmuebles['Valor'][300]

'$ 116.100.000'

In [16]:
inmuebles ['Valor'][300:305]

300    $ 116.100.000
301    $ 980.000.000
302    $ 237.000.000
303    $ 320.000.000
304    $ 530.000.000
Name: Valor, dtype: object

In [17]:
type(inmuebles ['Valor'][300:305])

pandas.core.series.Series

Promedio del Área de inmuebles en Bogotá

In [18]:
inmuebles.Area.mean()

146.66470588235293